body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial,
    sans-serif, 'Droid Sans Fallback';
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

