@import 'mixin.scss';

.center-h {
  @include center-translate(h);
}

.center-v {
  @include center-translate(v);
}

.center-all {
  @include center-translate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  box-sizing: border-box;
  padding: 0 32px;
}

.global-bg {
  background: linear-gradient(180deg, #37474f 0%, #232f3c 100%);
}

.slide-enter-active {
  animation: slide 0.3s;
}

.slide-leave-active {
  animation: slide 0.3s reverse;
}

.circle-animation {
  animation: circle 10s linear infinite;

  &.pause {
    animation-play-state: paused;
  }
}

.g-relative {
  position: relative;
}
@keyframes slide {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

//
*:not([class^='el-']) {
  box-sizing: border-box;
}

.white {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.gray {
  background-color: #eef0f3;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.m-lr10 {
  margin-right: 10px;
  margin-left: 10px;
}

.p20 {
  padding: 20px;
}

.pl20 {
  padding-left: 20px;
}

.text-right {
  text-align: right;
}

.fr {
  float: right;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.tips {
  margin-left: 15px;
  color: #787878;
}

.radius {
  border-radius: 5px;
}

.radius-hide {
  overflow: hidden;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

/*
* 公共样式
*/
.query-form {
  padding: 22px 20px 0;
  background-color: #fff;
  border-radius: 5px;
}

.base-table {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;

  .action {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ece8e8;
    border-radius: 5px 5px 0 0;
  }

  .pagination {
    padding: 10px;
    text-align: right;
  }
}

.p-search-wrap {
  padding: 30px 30px 15px;
}

.p-btn-wrap {
  padding: 0 30px 30px;
}

.p-table-wrap {
  padding: 0 30px 30px;
}

.p-pagination {
  padding: 0 30px 30px;
  text-align: right;
}
