// 颜色
$color-main: #071321;
$color-dark: #2a2b2d;
$color-sub: #606266;
$color-light: #fff;
$color-active: #409eff;

// 字体定义规范
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 28px;

$shadow-light: var(--el-box-shadow-light);